.Header
{
    display: flex;
    align-items: flex-end;

    box-sizing: border-box;
    width: 100%;
    padding: var(--space-m) var(--space-xxl) 18px;

    border-bottom: 1px solid var(--border-ghost);

    font-family: var(--font);

    @media screen and (max-width: $phone)
    {
        padding: var(--space-m) var(--space-m) 18px;
    }

    &-Logo
    {
        margin-right: var(--space-xxxl);
    }

    &-Select
    {
        &:after
        {
            position: absolute;
            right: 0;
            bottom: -19px;
            left: 0;

            width: 100%;
            height: .5em;

            content: '';

            border-bottom: 2px solid var(--border);
        }
    }
}
