.Select
{
    position: relative;

    font-size: var(--font-s);

    &-Name
    {
        &_weight_bold
        {
            font-weight: bold;
        }
        &_color
        {
            &_secondary
            {
                color: var(--secondary);
            }
        }
    }

    &-Arrow
    {
        position: absolute;

        &_position
        {
            &_center
            {
                top: 6px;
                right: -15px;
            }
            &_baseline
            {
                top: 10px;
                right: -15px;
            }
        }
    }

    &_size
    {
        &_small
        {
            letter-spacing: -.3px;

            font-size: var(--font-s);
            line-height: var(--line-s);
        }
        &_big
        {
            font-size: var(--font-l);
            line-height: var(--line-l);
        }
    }
}
