.DiffLine
{
    display: flex;

    padding: 6px var(--space-s) 0;

    font-family: var(--editor-font);
    font-size: var(--font-xxs);
    line-height: var(--line-m);

    &_color
    {
        &_ghost
        {
            color: var(--ghost);
            background: var(--background-ghost);;
        }
    }

    &-Diff
    {
        width: 40%;

        @media screen and (max-width: $phone)
        {
            width: 100%;
        }
    }
    &-Nav
    {
        display: flex;

        width: 60%;

        @media screen and (max-width: $phone)
        {
            display: none;
        }
    }
    &-NavItem
    {
        display: flex;
        align-items: center;

        margin-right: var(--space-xxl);

        &_state
        {
            &_active
            {
                color: var(--primary);
            }
        }
    }

    &-Triangle
    {
        margin-right: var(--space-xxs);
    }
}
