.Header {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--border-ghost);
  box-sizing: border-box;
  //padding: var(--space-m) var(--space-xxl) var(--space-l);
  padding: var(--space-m) var(--space-xxl) 18px;
  font-family: var(--font);
  align-items: flex-end;

  &-Logo {
    margin-right: var(--space-xxxl);
  }

  &-Select {

    &:after {
      content: '';
      width: 100%;
      position: absolute;
      bottom: -19px;
      left: 0;
      right: 0;
      height: 0.5em;
      border-bottom: 2px solid var(--border);
    }
  }
}
