.History
{
    position: relative;

    margin-top: var(--space-l);

    font-family: var(--font);
    font-size: var(--font-m);
    line-height: var(--line-m);

    &-Title
    {
        margin-bottom: var(--space-m);

        color: var(--secondary);

        font-weight: bold;
    }

    &-Row
    {
        box-sizing: border-box;
        margin: 0 0 0 19px;
        padding: 0 0 var(--space-m) 31px;

        border-left: 2px solid var(--ghost);

        &:last-of-type
        {
            padding-bottom: 0;

            border-left: none;
        }

        &:before
        {
            position: absolute;
            left: 0;

            width: 40px;
            height: 40px;

            content: '';

            background-image: url('../images/history.svg');
        }
    }

    &-Link
    {
        position: absolute;
        right: 0;
        &:after
        {
            visibility: visible;

            width: 16px;
            height: 16px;

            content: '';

            background-image: url('../images/code.svg');
        }

        &_hide
        {
            &_desktop
            {
                &:after
                {
                    display: none;
                    @media screen and (max-width: $phone)
                    {
                        display: inline-block;
                    }
                }
            }
        }
    }

    &-Code
    {
        &_hide
        {
            &_desktop
            {
                display: none;
                @media screen and (max-width: $phone)
                {
                    display: inline-block;
                }
            }
        }
    }
}
