.Nav
{
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;

    list-style: none;

    font-family: var(--font);
    font-size: var(--font-s);
    font-weight: 400;
    line-height: var(--line-m);

    &-Item
    {
        color: var(--secondary);

        &:after
        {
            position: relative;
            top: 1px;

            margin: 0 var(--space-s);

            content: '/';
        }

        &:last-of-type
        {
            &:after
            {
                margin: 0;

                content: '';
            }
        }

        &_state
        {
            &_active
            {
                color: var(--primary);

                font-weight: bold;
            }
        }
    }
}
