.Select {
  font-size: var(--font-s);
  position: relative;

  &-Name {
    font-weight: bold;
  }

  &-Arrow {
    position: absolute;

    &_position {
      &_center {
        right: -15px;
        top: 6px;
      }
      &_baseline {

      }
    }

  }

  &_size {
    &_small {
      font-size: var(--font-s);
      line-height: var(--line-s);
      letter-spacing: -.3px;
    }
    &_big {

    }
  }

}
