.Select {
  font-size: var(--font-s);
  position: relative;

  &-Name {

    &_weight_bold {
      font-weight: bold;
    }
    &_color {
      &_secondary {
        color: var(--secondary);
      }
    }
  }

  &-Arrow {
    position: absolute;

    &_position {
      &_center {
        right: -15px;
        top: 6px;
      }
      &_baseline {
        right: -15px;
        top: 10px;
      }
    }

  }

  &_size {
    &_small {
      font-size: var(--font-s);
      line-height: var(--line-s);
      letter-spacing: -.3px;
    }
    &_big {
      font-size: var(--font-l);
      line-height: var(--line-l);
    }
  }
}
