.Subheader {
  width: 100%;
  border-bottom: 1px solid var(--border-faded);
  padding: var(--space-s) 0;
  font-family: var(--font);
  font-size: var(--font-s);
  line-height: var(--line-m);

  &-Nav {}
}
