.Table {
  width: 100%;
  font-family: var(--font);
  font-size: var(--font-s);
  line-height: var(--line-m);
  color: var(--primary);
  box-sizing: border-box;
  border-collapse: collapse;

  &_hide {
    &_touch {
      @media screen and (max-width: $phone) {
        display: none;
      }
    }
  }

  &-Head {
    font-weight: normal;
  }

  &-Body {

  }

  &-Row {
    border-bottom: 1px solid var(--border-faded);
  }

  &-Cell {
    padding: var(--space-m) 0 var(--space-s);
    text-align: left;
    font-weight: normal;

    &:nth-of-type(1) {
      width: 16%;
    }

    &:nth-of-type(2) {
      width: 17%;
    }

    &:nth-of-type(3) {
      width: 31%;
    }

    &:nth-of-type(4) {
      width: 10%;
    }

    &:nth-of-type(5) {
      width: 15%;
    }

    &:last-child {
      text-align: right;
    }

    &_type {
      &_head {
        color: var(--ghost);
      }
    }

    &_weight_bold {
      font-weight: bold;
    }
  }
}
