// Значения бех указания темы совпадают с .theme_color_project-default
//body {
//  background: grey;
//}
:root {
  // Для всех элементов на странице свойство box-sizing имеет значение border-box
  *, *:before, *:after {
    box-sizing: border-box;
  }

  --default: #fff;
  --accented: #0056b3;
  --border: #000;

  // Значения состояний текста:
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.6);
  --ghost: rgba(0, 0, 0, 0.3);
  --link:  #0070f0;
}

.theme_color_project-default {
  // Значения фонов блоков:
  --default: #fff;
  --accented: #0056b3;
  --border: #000;

  // Значения состояний текста:
  --primary: #000;
  --secondary: rgba(0, 0, 0, 0.6);
  --ghost: rgba(0, 0, 0, 0.3);
  --link:  #0070f0;

  --image: url('../images/image-placeholder-inverse.svg');
}

.theme_color_project-brand {
  // Значения фонов блоков:
  --default: #0070f0;
  --accented: #fff;
  --border: #fff;

  // Значения состояний текста:
  --primary: #fff;
  --secondary: rgba(255, 255, 255, 0.6);
  --ghost: rgba(255, 255, 255, 0.3);
  --link:  #fff;

  --image: url('../images/image-placeholder-inverse.svg');
}

.theme_color_project-inverse {
  // Значения фонов блоков:
  --default: #000;
  --accented: #fff;
  --border: #fff;

  // Значения состояний текста:
  --primary: #fff;
  --secondary: rgba(255, 255, 255, 0.6);
  --ghost: rgba(255, 255, 255, 0.3);
  --link:  #0070f0;

  --image: url('../images/image-placeholder-primary.svg');
}

.theme_color_project-warning {
  // Значения фонов блоков:
  --default: #ff9900;
  --accented: #fff;
  --border: #fff;

  // Значения состояний текста:
  --primary: #fff;
  --secondary: rgba(255, 255, 255, 0.6);
  --ghost: rgba(255, 255, 255, 0.3);
  --link:  #fff;

  --image: url('../images/image-placeholder-inverse.svg');
}

.theme_color_megafon-brand {
  // Значения фонов блоков:
  --default: #1fa55d;
  --accented: #fff;
  --border: #fff;

  // Значения состояний текста:
  --primary: #fff;
  --secondary: rgba(255, 255, 255, 0.6);
  --ghost: rgba(255, 255, 255, 0.3);
  --link:  #fff;

  --image: url('../images/image-placeholder-inverse.svg');
}

.theme_size_default {
  // Значения размеров высоты текста (так как в задании текст в виде линий):
  --height-s: 7px;
  --height-m: 8px;
  --height-l: 10px;
  --height-xl: 11px;
  --height-xxl: 13px;

  // Значения межстрочных интервалов:
  --line-s: 18px;
  --line-m: 21px;
  --line-l: 25px;
  --line-xl: 28px;
  --line-xxl: 34px;
}

.theme_space_default {
  --space-xxxs: 2px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 16px;
  --space-l: 20px;
  --space-xl: 24px;
  --space-xxl: 32px;
  --space-xxxl: 40px;
  --space-xxxxl: 48px;
  --space-xxxxxl: 72px;
}

.theme_gap_small {
  --full: var(--space-m);
  --half: calc(var(--full) / 2);
  --two-thirds: calc((var(--full) / 3) * 2);

  @media screen and (min-width: 1144px) {
    --full: var(--space-xxxl);
    --half: calc(var(--full) / 2);
    --two-thirds: calc((var(--full) / 3) * 2);
  }
}

// На экране с размером меньше 1144px все блоки должны перестроиться один под другим.
@media screen and (min-width: 1144px) {}
