.FileRow {
  display: flex;
  flex-direction: column;
  position: relative;
  color: var(--primary);
  font-family: var(--font);
  font-size: var(--font-s);
  line-height: var(--line-m);

  &_border {
    &_bottom {
      border-bottom: 1px solid var(--border-faded);
    }
  }

  &_padding {
    &_both {
      padding: var(--space-s) 0;
    }
  }

  &_hide {
    &_desktop {
      display: none;
      @media screen and (max-width: $phone) {
        display: flex;
      }
    }
  }

  &-Item {

    &_padding {
      &_both {
        padding: var(--space-xxxs) 0;
      }
    }

    &_display {
      &_flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }

  &-Message {
    margin-right: var(--space-xs);
  }

  &-Arrow {
    position: absolute;
    top: 45%;
    right: 0;
  }

  &-Title {
    font-weight: bold;
  }
}
