.informer {
  // Нужное оформление достигается путём миксования к нему блока темы со статусным значением цветового модификатора (например, theme_color_project-warning).
  // TODO: статусное значение - это какое? акцентное? дефолтное? бордерное?
  background: var(--default);

  &__content {
    display: flex;
    align-items: center;

    &_distribute {
      &_default {
        justify-content: start;
      }

      &_between {
        justify-content: space-between;
      }

      &_center {
        justify-content: center;
      }
    }

    &_space-a {
      &_xl {
        padding: var(--space-xl);
      }

      &_xxl {
        padding: var(--space-xxl);
      }
    }
  }

  &__action {
    display: flex;

    &_distribute {
      &_default {
        justify-content: start;
      }

      &_between {
        justify-content: space-between;
      }

      &_center {
        justify-content: center;
      }
    }

    &_space-a {
      &_xl {
        padding: var(--space-xl);
      }

      &_xxl {
        padding: var(--space-xxl);
      }
    }
  }
}
