// Контейнер для отделения группы блоков
.Section {

  &_indent-b {
    &_xxl {
      margin-bottom: var(--space-xxl);
    }

    &_xxxxl {
      margin-bottom: var(--space-xxxxl);
    }
  }

  &_indent-t {
    &_m {
      margin-top: var(--space-m);
    }
    &_xxxxs {
      margin-top: var(--space-xxxs);
    }
  }

  &_indent-b {
    &_m {
      margin-bottom: var(--space-m);
    }
    &_xxxxs {
      margin-bottom: var(--space-xxxs);
    }
  }

  &_space-v {
    &_xxl {
      padding: var(--space-xxl) 0;
    }

    &_xxxxl {
      padding: var(--space-xxxxl) 0;
    }
  }
}
