.Triangle
{
    width: 0;
    height: 0;

    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    border-radius: 5px;

    &_state
    {
        &_up
        {
            border-bottom: 4px solid var(--primary);
        }
        &_down
        {
            border-top: 4px solid var(--ghost);
        }
    }
    //&_color {
    //  &_primary {
    //    border-color: var(--primary);
    //  }
    //  &_ghost {
    //    border-color: var(--ghost);
    //  }
    //}
}
