.Button
{
    font-family: var(--font);

    display: flex;
    align-items: center;

    padding: 7px var(--space-s) 6px;

    border-radius: 4px;

    &_color
    {
        &_default
        {
            color: var(--primary);
            background: var(--plain);
        }
    }

    &_width
    {
        &_full
        {
            width: 100%;
        }
    }

    &-Icon
    {
        margin-right: 6px;
    }

    &-Text
    {
        width: max-content;
    }
}
