.Button {
  font-family: var(--font);
  padding: 7px var(--space-s) 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;

  &_color {
    &_default {
      background: var(--plain);
      color: var(--primary);
    }
  }

  &_width {
    &_full {
      width: 100%;
    }
  }

  &-Icon {
    margin-right: 6px;
  }

  &-Text {
    width: max-content;
  }
}
