.Link
{
    font-weight: normal;

    text-decoration: none;

    color: var(--link-2);

    &_color
    {
        &_secondary
        {
            color: var(--secondary);
        }
    }

    &_hide
    {
        &_touch
        {
            @media screen and (max-width: $phone)
            {
                visibility: hidden;
            }
        }
    }

    &_hide
    {
        &_desktop
        {
            display: none;
            @media screen and (max-width: $phone)
            {
                display: flex;
                align-items: center;
            }
        }
    }
}
