.Text
{
    &_size
    {
        &_xs
        {
            font-size: var(--font-xs);
            line-height: var(--line-s);
        }
    }

    &_color
    {
        &_purple
        {
            color: var(--purple);
        }
        &_success
        {
            color: var(--success);
        }
        &_accented
        {
            color: var(--accented);
        }
        &_reserved
        {
            color: var(--diff-reserved);
        }
        &_diff-comment
        {
            color: var(--diff-comment);
        }
        &_diff-accented
        {
            color: var(--diff-accented);
        }
    }

    &_indent-r
    {
        &_m
        {
            margin-right: var(--space-m);
        }
    }
}
